<div id="<%= dom_id user %>">
  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Postscounter:</strong>
    <%= user.postscounter %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.photo %>
  </p>

</div>
