 <a href="/users">Back</a>
 <div style="display: flex; flex-direction: column; gap: 15px;">
  <div style="border: 1px solid black">
    <h1><%=@user.name%></h1>
    <span>Number of posts: <%=@posts.length %></span>
  </div>
  <div style="border: 1px solid black">
    <p><em>Bio</em></p>
    <p><%=@user.bio %></p>
  </div>
  <%@posts.each do |i| %>
    <div style="border: 1px solid black">
      <h3>Post #<%=i.id - 1%></h3>
      <p><%=i.text%></p>
      <p>Comments: <%=i.id == 2 ? @comments.length : 0 %></p>
      <p>Likes: <%=i.id == 2 ? @likes.length : 0 %></p>
    </div>
  <% end %>
  <a href="/users/<%= params[:id]%>/posts" style="padding: 2px 10px; border: 2px solid black; align-self: center; color: black; text-decoration: none; font-size: 18px;">See all posts</a>
 </div>