<div id="<%= dom_id post %>">
  <p>
    <strong>Users:</strong>
    <%= post.users_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= post.comments_id %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= post.likes_id %>
  </p>

</div>
