<a href="/users/<%= params[:user_id]%>/posts">Back</a>
<div style="display: flex; flex-direction: column; gap: 5px;">
  <div style="border: 1px solid black;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2>Post #<%=params[:id] %> by <%=@user.name %></h2>
      <span>Comments: <%=@comments.length%>, Likes: 0<%=%></span>
    </div>
    <p><%=@post.text%></p>
    <%= button_to "Delete", user_post_path(@user, @post), method: :delete, remote: true %>
    <a href="/users/<%= params[:user_id] %>/posts/<%= params[:id]%>/comments/new">Add a Comment</a>
  </div>
  
  <div style="border: 1px solid black;">
    <% @post.comments.each do |i| %>
      <h5><%= User.find(params[:user_id]).name %>: <%=i.text %></h5>
      <%= button_to "Delete", user_post_comment_path(@user, @post, i), method: :delete, remote: true %>
    <% end %>
  </div>
</div>
